body{
	 font-family: "M PLUS ROUNDED 1C", regular;
}
#article_title{
         font-family: "M PLUS ROUNDED 1C", bold;
}
#article_content{
  font-family: "Saria", bold;
}
#left_menu{
   font-family: "M PLUS ROUNDED 1C", bold;
}