:root{
    --main-color: #101010;
    --white: #fff;
    --black: #000;
    --primary-color: #A10101;
}
body{
	margin:0;
	padding:0;
}
#top_header{
	width:100%;
	background-color:var(--main-color);
	height:100px;
}
#bottom_header{
	width:100%;
	background-color:var(--primary-color);
	height:100px;
}
#title{
	color:var(--white);
	margin-top:-122px;
	margin-left: 40vw;
	font-size:26px;
}
h2{
	margin-top:100px;
	margin-left:100px;
	color:var(--primary-color);
	font-size:18px;
}
#article_content{
	margin-left:300px;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!! LEFT MENU  !!!!!!!!!!!!!!!!!!!!!!!!!!! */
#left_menu{
    margin-left:25px;
    display:flex;
    flex-direction:column;
}
#left_menu a{
	width:150px;
	height:1.4em;
	margin-top:25px;
	background-color:var(--main-color);
	-webkit-border-radius: 130px;
	-moz-border-radius: 130px;
	border-radius: 130px;
        text-align:center;
	text-decoration:none;
        color:var(--white);
}
#left_menu a:hover,#left_menu a:focus{
	background-color:var(--primary-color);
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!! MENUBAR  !!!!!!!!!!!!!!!!!!!!!!!!!!! */
#menubar{
    -webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    border-radius: 130px;
    background-color: var(--main-color);
    width: 350px;
    text-align: center;
    height: 1.5em;
    margin-top: 302px;
    margin-left: 23px;
    position: absolute;
    z-index: 2;
}
#menubar a {
  height: 20px;
  width: 20px;
  margin-left:50px;
  background-color: var(--white);
  border-radius: 50%;
  display: inline-block;
  text-decoration:none;
}
#aroundmenu{
-webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    border-radius: 130px;
    background-color: var(--primary-color);
    width: 380px;
    height: 2.5em;
    margin-left: 10px;
    margin-top: 294px;
    position: absolute;
    z-index: 1;
}
#menubar a.active{
  background-color:var(--primary-color);
}
#navcontainer{
	display:flex;
	justify-content:center;
}
/*                   FOOTER CSS                   */
#top_footer{
        position:absolute;
	width:100%;
	background-color:var(--main-color);
	height:100px;
}
#bottom_footer{
	width:100%;
	background-color:var(--primary-color);
	height:100px;
}